# 6.-Diccionarios y Conjuntos

Un diccionario tiene es una colección no ordenada de parejas, estas parejas contienen llaves y
datos

Un conjunto es una colección no ordenada de valores únicos

---

## 6.2 - Diccionarios

Vamos  a crear un diccionario con los nombres Laura, Daniel, Alberto y Rogelio, y sus códigos la, dn, al, ro.

In [1]:
nombre_usuario = {'Laura':'la','Daniel':'dn','Alberto':'al','Rogelio':'ro'}

In [2]:
nombre_usuario

{'Laura': 'la', 'Daniel': 'dn', 'Alberto': 'al', 'Rogelio': 'ro'}

¿Cuantas parejas hay en el diccionario?

In [3]:
len(nombre_usuario)

4

Ahora crea un diccionario donde mapees a los usuarios con su edad - 28, 31, 27 y 65 respectivamente.

In [4]:
edad_usuario = {'Laura':28,'Daniel':31,'Alberto':27,'Rogelio':65}

In [5]:
edad_usuario

{'Laura': 28, 'Daniel': 31, 'Alberto': 27, 'Rogelio': 65}

Arma un programa que nos diga en forma de oración **"X tiene Y años"** para cada uno de los 4 participantes. (Ej - Laura tiene 28 años cumplidos)

In [7]:
for usuario, edad in edad_usuario.items():
    print(f"{usuario} tiene {edad} años")

Laura tiene 28 años
Daniel tiene 31 años
Alberto tiene 27 años
Rogelio tiene 65 años

#### Revisa tu comprensión

El método _____________________ te regresa cada pareja llave-valor como una tupla

---

Accede a 2 usuarios mediante sus llaves

In [8]:
edad_usuario['Laura']

28

In [9]:
edad_usuario['Alberto']

27

Cambia el valor de alguan de las llaves - Resulta que Rogelio en realidad tiene 35 años

In [10]:
edad_usuario['Rogelio'] = 35

In [11]:
edad_usuario['Rogelio']

35

Se integra un nuevo elemento - Eva de 29 años, agregala al diccionario

In [14]:
edad_usuario['Eva'] = 29

In [15]:
edad_usuario

{'Laura': 28, 'Daniel': 31, 'Alberto': 27, 'Rogelio': 35, 'Eva': 29}

Daniel decidió que no somos lo suficientemente cool para el - borralo del diccionario

In [16]:
del edad_usuario['Daniel']

In [17]:
edad_usuario

{'Laura': 28, 'Alberto': 27, 'Rogelio': 35, 'Eva': 29}

Tu gerente inútil te manda buscar a Pepe aunque no este en el diccionario - Que sucede?

In [18]:
edad_usuario['Pepe']

KeyError: 'Pepe'

¿Cual era la edad de Eva?

In [19]:
edad_usuario['Eva']

29

Ahora usa Get para conocer la edad Edad de Pepe y evitar un error

In [20]:
edad_usuario.get('Pepe', 'No esta en el diccionario')

'No esta en el diccionario'

Prueba si Pepe y Eva están en el diccionario

In [21]:
'Pepe' in edad_usuario

False

In [22]:
'Eva' in edad_usuario

True

---

### 6.2.2 - Métodos de Diccionario

Anteriormente, usamos el método **items** para iterar a través de las tuplas de un key-value pair. Asimismo, lo métodos **keys** y **values** pueden susares para iterar las llaves y valores de un diccionario.

Arma un for que muestre los nombres de los participantes - sacados de usuario_edad

In [23]:
edad_usuario = {'Laura':28,'Daniel':31,'Alberto':27,'Rogelio':65}

Arma un for que muestre las edades de los participantes

In [24]:
for edad in edad_usuario.values():
    print(edad, end=", ")

28, 31, 27, 65,

In [26]:
for nombre in edad_usuario.keys():
    print(nombre, end=", ")

Laura, Daniel, Alberto, Rogelio,

Si añadimos otro elemento al diccionario...

In [27]:
edad_usuario['Eva'] = 29

Checa que aparece en Views

In [30]:
edad_usuario.keys()

dict_keys(['Laura', 'Daniel', 'Alberto', 'Rogelio', 'Eva'])

A veces es necesario trabajar con las llaves y valores del diccionario - Eso lo logramos convirtiendo nuestras llaves y valores en listas con la función **list**

In [31]:
list(edad_usuario.items())

[('Laura', 28), ('Daniel', 31), ('Alberto', 27), ('Rogelio', 65), ('Eva', 29)]

Para ordenar en orden alfabético las llaves del diccionario

In [34]:
for nombre in sorted(edad_usuario.keys()):
    print(nombre, end=', ')

Alberto, Daniel, Eva, Laura, Rogelio,

In [35]:
edad_usuario

{'Laura': 28, 'Daniel': 31, 'Alberto': 27, 'Rogelio': 65, 'Eva': 29}

#### Por tu cuenta

Para el siguiente diccionario, crea listas de sus **llaves**, **valores** y **items** - y muestra esas listas

Municipios_poblacion = {"Acatic" : 23175, "Acatlan de Juarez" : 25250, "Ameca" : 60386, "Arandas" : 80609}

In [36]:
Municipios_poblacion = {"Acatic" : 23175, "Acatlan de Juarez" : 25250, "Ameca" : 60386, "Arandas" : 80609}

In [37]:
list(Municipios_poblacion.keys())

['Acatic', 'Acatlan de Juarez', 'Ameca', 'Arandas']

In [38]:
list(Municipios_poblacion.values())

[23175, 25250, 60386, 80609]

In [39]:
list(Municipios_poblacion.items())

[('Acatic', 23175),
 ('Acatlan de Juarez', 25250),
 ('Ameca', 60386),
 ('Arandas', 80609)]

Python te permite comparar diccionarios . 

Compara estos 3:
    
asistentes_dia1={'Ramírez':'Laura','Cortés': 'Daniel','Pérez':'Alberto'}

asistentes_dia2={'García':'Rogelio','Ramírez': 'Laura','Pérez':'Alberto'}

asistentes_dia3={'Pérez':'Alberto','Cortés': 'Daniel','Ramírez':'Laura'}

In [40]:
asistentes_dia1={'Ramírez':'Laura','Cortés': 'Daniel','Pérez':'Alberto'}

In [41]:
asistentes_dia2={'García':'Rogelio','Ramírez': 'Laura','Pérez':'Alberto'}

In [42]:
asistentes_dia3={'Pérez':'Alberto','Cortés': 'Daniel','Ramírez':'Laura'}

In [43]:
asistentes_dia1 ==asistentes_dia2

False

In [44]:
asistentes_dia1 ==asistentes_dia3

True

#### Elemplo 2

Arma un programa que utilice diccionarios, el método split, y el método items, asi como 2 ciclos for, para contar la cantidad de palabras en esta oración.Tu resultado debe de ser una tablita de 2 columnas donde muestres la palabra y la repetición:

In [89]:
cuento = ('cuenta un cuento que una princesa se la pasa '
         'cuenta que cuenta ese cuento llamado la princesa '
         'que cuenta')

In [92]:
lista_pal = cuento.split()

In [87]:
dicc_rep = {}

In [93]:
for letra in lista_pal:
    dicc_rep[letra] = lista_pal.count(letra)

print(f'{"Palabra":<12} Repeticiones')

for valor, cantidad in dicc_rep.items():
    print(f'{valor :<17} {cantidad}')

print("Numero de palabras unicas en el texto: ",len(dicc_rep))

Palabra      Repeticiones
cuenta            4
un                1
cuento            2
que               3
una               1
princesa          2
se                1
la                2
pasa              1
ese               1
llamado           1
Numero de palabras unicas en el texto:  11

Ahora utiliza la herramienta Counter de Python para realizar la misma tarea con el **cuento**

In [90]:
from collections import Counter

contador = Counter(cuento.split())

print(f'{"Palabra":<12} Repeticiones')

for valor, cantidad in contador.items():
    print(f'{valor :<17} {cantidad}')

Palabra      Repeticiones
cuenta            4
un                1
cuento            2
que               3
una               1
princesa          2
se                1
la                2
pasa              1
ese               1
llamado           1

---

## 6.3 Comprensión de Diccionarios

La comprensión de diciconarios, igual que la de listas, te da una notación más compacta para generar diccionarios.

Chécate el siguiente ejemplo donde intercambiamos los pares valor-llave de

usuario_edad={'Laura':28,'Daniel':31,'Alberto':27,'Rogelio':65}

In [1]:
usuario_edad={'Laura':28,'Daniel':31,'Alberto':27,'Rogelio':65}

In [2]:
edad_usuario = {edad:usuario for usuario, edad in usuario_edad.items()}

In [3]:
edad_usuario

{28: 'Laura', 31: 'Daniel', 27: 'Alberto', 65: 'Rogelio'}

También podemos mapear valores nuevos, Checa como convertimos las ventas de agentes en ventas promedio (en un nuevo diccionario)

ventas_agentes= {'Laura': [12000, 10500, 9800, 11100], 'Daniel': [11000, 7800, 7200, 6500], 'Alberto': [11200, 9500, 10800, 10100]}

In [4]:
ventas_agentes= {'Laura': [12000, 10500, 9800, 11100], 'Daniel': [11000, 7800, 7200, 6500], 'Alberto': [11200, 9500, 10800, 10100]}

In [18]:
promventas = {agente: sum(lista)/len(lista) for agente, lista in ventas_agentes.items()}

In [19]:
promventas

{'Laura': 10850.0, 'Daniel': 8125.0, 'Alberto': 10400.0}

#### Por tu cuenta

Usa una comprensión de diccionario para crear un diccionario de los números 4-10 mapeado a sus cuadrados

In [21]:
dic_cuad = {x:x**2 for x in range(4,11)}

In [22]:
dic_cuad

{4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

---

### 6.4 Conjuntos (SETS)

Un conjunto es una colección no ordenada de valores únicos.

El código siguiente genera un conjunto llamado animales

animales={'gato','ratón','perro','garza','perico','perro','pato'}

In [3]:
animales={'gato','ratón','perro','garza','perico','perro','pato'}
animales

{'garza', 'gato', 'pato', 'perico', 'perro', 'ratón'}

Para determinar la cantidad de elementos

In [4]:
len(animales)

6

Si quieres verificar si algún elemento está incluido en el conjunto

In [5]:
'gato' in animales

True

In [6]:
'elefante' in animales

False

Los conjuntos son iterables - checa como convertimos todo el conjunto a mayusculas con el método upper y un for

In [8]:
for animal in animales:
    print(animal.upper(), end=', ')

GATO, RATÓN, PATO, GARZA, PERICO, PERRO,

Checa que puedes crear un conjunto a partir de listas usando la función set. Primero vamos a crear y unir 2 listas - pares me dará todos los números pares del 0 al 15, y se unirá con todos los pares del 8 al 29

In [9]:
pares = list(range(0,15,2)) + list(range(8,30,2))
pares

[0, 2, 4, 6, 8, 10, 12, 14, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [10]:
set(pares)

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28}

Y ahora la convertiremos en un set

#### Por tu cuenta

Asigna la siguiente caden a una variable **texto** y luego dividela usando el método split y crea un set de los resultados. Muestra las palabrás únicas en orden sorted. 

'Un dragon tragon trago carbon y quedo panzon, ah que dragon tan tragon"

In [12]:
texto = 'Un dragon tragon trago carbon y quedo panzon, ah que dragon tan tragon'

In [22]:
palunic = set(texto.split())
palunic

{'Un',
 'ah',
 'carbon',
 'dragon',
 'panzon,',
 'que',
 'quedo',
 'tan',
 'trago',
 'tragon',
 'y'}

In [23]:
sorted(palunic)

['Un',
 'ah',
 'carbon',
 'dragon',
 'panzon,',
 'que',
 'quedo',
 'tan',
 'trago',
 'tragon',
 'y']

---